<div class="grid grid-cols-12 gap-4 mt-16">
  <app-sidebar></app-sidebar>
  <div class="lg:col-span-8 sm:col-span-12">
    <div class="lg:ml-32 md:ml-56 mt-4 lg:mx-0 md:mx-0 sm:mx-2">
      <!-- toolbar -->
      <div
        class="p-2 mb-4 gap-2 rounded-lg shadow-md flex lg:justify-end md:justify-end sm:justify-between bg-white"
      >
        <a href="/admin/mascotas/listado-de-internaciones">
          <button
            type="submit"
            class="text-white bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <i class="fa-solid fa-arrow-left mr-1"></i>
            Volver
          </button>
        </a>
        <button
          type="submit"
          class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          <i class="fa-regular fa-floppy-disk mr-1"></i>
          Editar
        </button>
      </div>
      <div class="relative shadow-md rounded-lg bg-white p-2">
        <!-- detalle internacion -->
        <fieldset
          class="border border-solid border-gray-300 p-2 m-2 rounded-lg"
        >
          <legend class="text-lg font-bold px-2 uppercase">
            Detalle de la internación
          </legend>
          <div class="my-2" *ngFor="let internacion of internaciones">
            <div
              class="grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 gap-4 mb-6"
            >
              <!-- NOMBRE DUEÑO -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Nombre del dueño</p>
                <p>{{ internacion.mascota?.persona?.nombreCompleto }}</p>
              </div>
              <!-- NOMBRE MASCOTA -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Nombre de la mascota</p>
                <p>{{ internacion.mascota?.nombre }}</p>
              </div>
              <!-- FECHA INGRESO -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Fecha de ingreso</p>
                <p>{{ internacion.fechaIngreso | date : "dd/MM/yyyy" }}</p>
              </div>
              <!-- FECHA EGRESO -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Fecha de egreso</p>
                <p>{{ internacion.fechaEgreso | date : "dd/MM/yyyy" }}</p>
              </div>
              <!-- SALDO PAGADO -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Saldo pagado</p>
                <p class="">
                  {{ internacion.saldoPagado | currency }}
                </p>
              </div>
              <!-- COSTO POR DIA -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Costo por día</p>
                <p>{{ internacion.costoPorDia | currency }}</p>
              </div>
              <!-- MONTO TOTAL -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Monto total</p>
                <p>{{ internacion.costoTotal | currency }}</p>
              </div>
              <!-- PAGADO -->
              <div class="flex flex-col">
                <p class="font-bold uppercase">Pagado</p>
                <p
                  [style.color]="internacion.pagado ? 'green' : 'red'"
                  class="font-bold"
                >
                  {{ internacion.pagado | booleanColor }}
                </p>
              </div>
              <!-- DESCRIPCION INTERNACION -->
              <div class="mb-6 col-span-2">
                <p class="font-bold uppercase">Detalle</p>
                <p>
                  {{ internacion.descripcion }}
                </p>
              </div>
            </div>

            <div class="flex flex-col gap-2 mb-6">
              <div class="flex gap-1 text-xl items-center">
                <button>
                  <i
                    class="fa-solid fa-trash text-red-600 hover:bg-red-100 p-2 rounded-lg hover:cursor-pointer"
                    title="Eliminar"
                  ></i>
                </button>
                <p
                  class="text-base text-blue-600 hover:underline cursor-pointer"
                >
                  radiografia-paciente-4.pdf
                </p>
              </div>
              <div class="flex gap-1 text-xl items-center">
                <button>
                  <i
                    class="fa-solid fa-trash text-red-600 hover:bg-red-100 p-2 rounded-lg hover:cursor-pointer"
                    title="Eliminar"
                  ></i>
                </button>
                <p
                  class="text-base text-blue-600 hover:underline cursor-pointer"
                >
                  ecografía-paciente-4.pdf
                </p>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div
    class="h-full flex flex-col gap-y-4 rounded-lg lg:block md:hidden sm:hidden mt-4"
  >
    <app-panel-right></app-panel-right>
  </div>
</div>
