.img {
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  height: 100%;
  color: #fff;
  /* backdrop-filter: blur(16px); */
  backdrop-filter: brightness(40%);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://vet-x.com/images/slide01.jpg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  padding: 0px;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}