<div
  class="h-full max-w-[50vh] w-[50vh] flex flex-col gap-y-4 rounded-lg lg:block md:hidden sm:hidden fixed"
>
  <div class="flex flex-col rounded-lg bg-white drop-shadow">
    <div
      class="w-full bg-blue-600 p-2 rounded-t-lg text-white flex justify-between items-center"
    >
      <p class="font-medium">Mi perfil</p>

      <a href="/configuracion">
        <i
          class="fa-solid fa-user-pen hover:cursor-pointer p-2 hover:bg-slate-100/20 rounded"
        ></i>
      </a>
    </div>
    <div class="flex flex-col">
      <div class="flex p-2 gap-x-2">
        <img
          src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.jpg?b=1&s=612x612&w=0&k=20&c=eU56mZTN4ZXYDJ2SR2DFcQahxEnIl3CiqpP3SOQVbbI="
          class="w-20 h-20 rounded-full object-cover"
          alt=""
        />
        <div class="flex flex-col">
          <p class="font-bold text-base">Nahuel Moyano</p>
          <span class="text-sm font-medium text-slate-500">Veterinario</span>
          <small class="text-sm">veterinaria@gmail.com</small>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="flex flex-col rounded-lg bg-white my-4 drop-shadow">
    <div
      class="w-full bg-blue-600 p-2 rounded-t-lg text-white flex justify-between items-center"
    >
      <p class="font-medium">Calendario</p>

      <i class="fa-solid fa-calendar-day p-2"></i>
    </div>
    <div class="flex flex-col w-vh">
      <div inline-datepicker data-date="today" class="w-screen"></div>
    </div>
  </div> -->
</div>
